<div class="footer">
    <div class="friend-links">友情链接 :
        <% ext.friendlink.forEach(function (fl) { %>
        <a href="<%= fl.url %>" target="_blank"><%= fl.label %></a>
        <% }) %>
    </div>
    <p> © 2015 suqin</p>
</div>
<% include footer_plugin %>
</body>
</html>
